*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;

}

.panels{ display: flex; }

.panel{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: flex 0.5s;
}
.panel > *{
    width: 100%;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    text-transform: uppercase;
}

.panel > *:first-child{
    transform: translateY(-100%);
    opacity: 0; 
}

.panel > *:last-child{
    transform: translateY(100%);
    opacity: 0;
}

p{ font-size: 4em; }

p:nth-child(2){ font-size: 10em; }

.first{ background-image: url(images/bgg1.jpeg); }

.second{ background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url(images/bgg2.jpeg); }

.third{ background-image: url(images/bgg3.jpeg); }

.fourth{ background-image: url(images/bgg4.jpeg); }

.fifth{ background-image: url(images/bgg5.jpeg); }

.open{
    flex: 3;
    font-size: 30px;   
}

.open-active > *:first-child{
    transform: translateY(0);
    opacity: 1;
}

.open-active > *:last-child{
    transform: translateY(0);
    opacity: 1;    
}
